<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
        <h1>Substance: {{ post.subject }}</h1>
        <h3>Type: {{ post.classification }}</h5>
        <p>Information: {{ post.description }}</p>
        <!-- <h3><a href="/posts/{{post._id}}/edit"><button type="submit">Edit Post</button></a></h3>
        <h3><form method="POST" action="/posts/{{post._id}}?_method=DELETE"><button type="submit">Delete Post</button></a></h3> -->
  </div>
</div>
